<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Concate using pipe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let country of country; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{country.name}}</td>
                                <td>{{country.code}}</td>
                                <td>{{country | countrycode}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>