<p>Welcome {{username ? username : 'Guest!'}}</p>
<a *ngIf="username" (click)="logout()">Logout</a><br>
<a *ngIf="username==''" [routerLink]="['/login']">Login</a><br>
<a [routerLink]="['/about']">About page</a>
<ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>

<p appChangeColor="red">Welcome</p>
<p [innerHtml]="html"></p>
<h1>Pipes</h1>
<p>Slice: {{ 'Slice pipe will return substring starting from index 3 i.e character d and will include all characters before index 7 i.e up to g. The character at end index will not be included in the output substring.'| slice:0:50}}</p>
<p>json {{jsonpipe|json}}</p>
<p>keyvalue pipe</p>
<ul>
    <li *ngFor="let item of jsonpipe | keyvalue">{{item.key}} => {{item.value}}</li>
</ul>